.header-contacts-wrap
	background: #242424
	padding: 5px 0

.header-contacts
	display: flex
	flex-wrap: nowrap
	justify-content: space-between
	align-items: center
.header-contacts__logo
	font-size: 16px
	font-weight: bold
	& span:nth-of-type(1)
		color: #ff2a00
	& span:nth-of-type(2)
		color: #ff8400
	& span:nth-of-type(3)
		color: #fff




.header-contacts__contacts
	display: flex
	align-items: center
.header-contacts-item-wrap
	+margin-right(35px)

.header-contacts-item
	display: flex
	flex-wrap: nowrap
	align-items: center
	cursor: pointer
	&:hover
		$color: #e1e1e1
		.header-contacts-item__icon > svg
			path
				fill: $color
		.header-contacts-item__text
			color: $color

.header-contacts-item__icon > svg
	width:  16px
	height: 16px
	display: block
	path
		fill: #bdbdbd

.header-contacts-item__text
	color: #aaa
	font-size: 12px
	padding-left: 3px




.header-contacts__social
	display: flex
	flex-wrap: nowrap
	align-items: center
.header-contacts-social-icon
	+margin-right()
	width:  18px
	height: 18px
	display: block
	cursor: pointer
	path
		fill: #bdbdbd
	&:hover
		path
			fill: #e1e1e1

.menu-block
	background: #1b1b1b

.navigation
	display: flex
	align-items: center
	justify-content: space-between

.navigation__menu
	list-style: none
	margin: 0
	padding: 0


.navigation__item
	display: inline-block
	&:not(:last-of-type)
		padding-right: 10px
	a
		transition: all 0.065s linear
		text-decoration: none
		display: inline-block
		color: #c9c9c9
		font-size: 15px
		padding: 25px 5px
		&:hover
			color: #ff6d00


.navigation-search-form
	height: 30px
	font-size: 14px
.navigation-search-form__input
	+transition()
	border: none
	outline: none
	display: inline-block
	width: 200px
	height: inherit
	margin-right: 5px
	padding-left:  12px
	padding-right: 12px
	background: #e6e6e6
	&:focus
		background: #fff
.navigation-search-form__button
	+transition()
	outline: none
	height: 100%
	display: inline-block
	padding-left:  10px
	padding-right: 10px
	border: none
	background: #ff740c
	color: #fff
	&:hover
		background: #ed6c0b


.navigation__user
	display: flex
	align-items: center

.navigation-user-item
	+margin-right(15px)
	position: relative
	width:  26px
	height: 26px
	display: block
	cursor: pointer
	path
		fill: #bdbdbd
	&:hover
		path
			fill: #e1e1e1

.navigation-user-item__count
	position: absolute
	font-size: 9px
	display: flex
	color: #fff
	align-items: center
	justify-content: center
	width:  15px
	height: 15px
	+border-radius(50%)
	background: #ff6d00
	border: 1px solid #fff
	top: -5px
	right: -5px






