.header-contacts-wrap
	background: $header-bg
	padding: $header-height-pading 0
	//box-shadow: 0 0 20px rgba(0,0,0,0.35)
	position: relative
	z-index: 2

.header-contacts
	display: flex
	flex-wrap: nowrap
	justify-content: space-between
	align-items: center
.header-contacts__logo
	$height: 20px
	width: $height*5.23
	height: $height
	svg
		display: block
		width: 100%
		height: 100%
		padding: 2px 0

.main-logo
	path:nth-of-type(1)
		fill: $logo-color-1
	path:nth-of-type(2)
		fill: $logo-color-2
	path:nth-of-type(3)
		fill: $logo-color-3




.header-contacts__contacts
	display: flex
	align-items: center
.header-contacts-item-wrap
	+margin-right(35px)

.header-contacts-item
	display: flex
	flex-wrap: nowrap
	align-items: center
	cursor: pointer
	&:hover
		.header-contacts-item__icon > svg
			path
				fill: $header-text-hover-color
		.header-contacts-item__text
			color: $header-text-hover-color

.header-contacts-item__icon > svg
	width:  16px
	height: 16px
	display: block
	path
		fill: $header-text-color

.header-contacts-item__text
	color: $header-text-color
	font-size: 12px
	padding-left: 3px




.header-contacts__social
	display: flex
	flex-wrap: nowrap
	align-items: center
.header-contacts-social-icon
	+margin-right()
	width:  18px
	height: 18px
	display: block
	cursor: pointer
	path
		fill: $header-text-color
	&:hover
		path
			fill: $header-text-hover-color
			


