$start-opacity: 0.25

.item-container-wrap
	background: #ffffff

.item-container

	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: flex-start
	width: 1200px
	margin: 0 auto

.item-text-big
	text-align: center
	padding: 8px 0
	text-transform: uppercase
	font-size: 30px
	font-weight: lighter
	background: #dbdbdb
	color: #3e3e3e

.t-shirt-item-wrap
	width: 25%
	padding: 10px

.t-shirt-item
	background: rgb(39, 39, 39)



.t-shirt-item__header
	display: flex
	flex-direction: row
	flex-wrap: nowrap
	justify-content: space-between
	align-items: center
	padding: 5px 10px

.t-shirt-header-text__big
	color: #64caff
	font-weight: bold
	font-size: 15px

.t-shirt-header-text__small
	font-size: 12px
	font-weight: lighter
	color: #c0c0c0


.t-shirt-header__fav
	$size: 22px
	min-width:  $size
	height: 100%
	cursor: pointer
	margin-left: 5px
	svg
		display: block
	path
		fill: none
		stroke: #64caff
		stroke-width: 3
	&:hover
		path
			stroke: #64caff
			fill: #64caff



.t-shirt-item__content
	background-image: url(../images/t-shirt.jpg)
	background-size: cover
	background-position: 50% 50%
	background-repeat: no-repeat
	height: 350px
	position: relative
	z-index: 1

	&:hover
		.t-shirt-item-content__price
			opacity: 1

.t-shirt-item-content__back-size
	$size: 26px
	width:  $size
	height: $size
	position: absolute
	top: 10px
	right: 10px
	cursor: pointer
	padding: 5px
	+border-radius(50%)
	+margin-right(1px)
	background: rgba(0,0,0,.5)
	opacity: $start-opacity
	+transition()
	svg
		display: block
		width: 100%
		height: 100%
	path
		fill: #ffffff
	&:hover
		opacity: 1
		path
			fill: #fd951a


.t-shirt-item-content__price
	$offset: 10px
	position: absolute
	top: $offset
	left: $offset
	background: rgba(0, 0, 0, .6)
	color: #fff
	opacity: 0.6
	font-size: 14px
	padding: 5px 10px
	+transition()
	
.t-shirt-item-content-bottom-wrap
	width: 100%
	position: absolute
	bottom: 0


.t-shirt-item-content-tags
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: center
	align-items: center
	width: 100%
	margin-bottom: 10px
	opacity: $start-opacity
	+transition()
	&:hover
		opacity: 1


.t-shirt-item-content__tag
	display: inline-block
	background: rgba(0, 0, 0, .5)
	margin-top: 5px
	+margin-right(5px)
	font-size: 12px
	color: #ffffff
	padding: 2px 7px
	cursor: pointer
	&:hover
		color: #fd951a
		background: rgba(0, 0, 0, .65)
	
.t-shirt-item-content__stats
	background: rgba(0, 0, 0, .5)
	display: flex
	flex-direction: row
	flex-wrap: nowrap
	justify-content: space-between
	align-items: center
	padding: 2px 10px

	
	
.t-shirt-item-content-stats__rate[data-rate="1"]
	.t-shirt-item-content-stats-rate__star:nth-of-type(1) path
		fill: #fd951a
.t-shirt-item-content-stats__rate[data-rate="2"]
	.t-shirt-item-content-stats-rate__star:nth-of-type(1) path,
	.t-shirt-item-content-stats-rate__star:nth-of-type(2) path
		fill: #fd951a
.t-shirt-item-content-stats__rate[data-rate="3"]
	.t-shirt-item-content-stats-rate__star:nth-of-type(1) path,
	.t-shirt-item-content-stats-rate__star:nth-of-type(2) path,
	.t-shirt-item-content-stats-rate__star:nth-of-type(3) path
		fill: #fd951a
.t-shirt-item-content-stats__rate[data-rate="4"]
	.t-shirt-item-content-stats-rate__star:nth-of-type(1) path,
	.t-shirt-item-content-stats-rate__star:nth-of-type(2) path,
	.t-shirt-item-content-stats-rate__star:nth-of-type(3) path,
	.t-shirt-item-content-stats-rate__star:nth-of-type(4) path
		fill: #fd951a
.t-shirt-item-content-stats__rate[data-rate="5"]
	.t-shirt-item-content-stats-rate__star:nth-of-type(1) path,
	.t-shirt-item-content-stats-rate__star:nth-of-type(2) path,
	.t-shirt-item-content-stats-rate__star:nth-of-type(3) path,
	.t-shirt-item-content-stats-rate__star:nth-of-type(4) path,
	.t-shirt-item-content-stats-rate__star:nth-of-type(5) path
		fill: #fd951a

	//8b8b8b
.t-shirt-item-content-stats-rate__star
	$size: 12px
	width:  $size
	height: 100%
	cursor: pointer
	display: inline-block
	+margin-right(1px)
	svg
		display: block
		width: 100%
		height: 100%
	path
		fill: #8b8b8b

	
.t-shirt-item-content-stats-views__icon
	$size: 16px
	width:  $size
	height: 100%
	cursor: pointer
	display: inline-block
	margin-right: 3px
	svg
		display: block
		width: 100%
		height: 100%
	path
		fill: #fd951a
	
.t-shirt-item-content-stats-views__text
	display: inline-block
	color: #fd951a
	font-size: 14px
	
	

.t-shirt-item__footer
	display: flex
	flex-direction: row
	flex-wrap: nowrap
	justify-content: space-between
	padding: 5px 10px
	color: #e0e0e0
	font-size: 13px
	font-weight: lighter
	cursor: pointer
.t-shirt-item-footer__action-1:hover, .t-shirt-item-footer__action-2:hover
	color: #ffffff
	