
.menu-block
	background: $menu-bg
	position: relative
	z-index: 2
	box-shadow: 0 0 30px rgba(0,0,0,0.4)


.navigation
	display: flex
	align-items: center
	justify-content: space-between
	height: $menu-height

.navigation__menu
	list-style: none
	margin: 0
	padding: 0


.navigation__item
	display: inline-block
	position: relative
	z-index: 2

	&:not(:last-of-type)
		padding-right: 10px
	&:hover
		.navigation-sub-menu
			opacity: 1
			transform: scale(1,1)
		.navigation-sub-menu-arrow svg path
			fill: $menu-text-color-hover
		.navigation-item-link
			color: $menu-text-color-hover
.navigation-item-link
	transition: all 0.065s linear
	text-decoration: none
	display: inline-block
	color: $menu-text-color
	font-size: $menu-font-size
	//font-weight: lighter
	vertical-align: middle
	line-height: $menu-height



.navigation-search-form
	height: $menu-input-height
	font-size: 14px
	display: flex
.navigation-search-form__input
	+transition()
	border: none
	outline: none
	width: 180px
	height: inherit
	display: block
	padding-left:  12px
	padding-right: 12px
	background: $menu-input-bg
	font-size: $menu-input-font-size
	color: $menu-input-color
	&:focus
		background: $menu-input-bg-hover
	&::-webkit-input-placeholder
		color: $menu-input-placeholder-color
.navigation-search-form__button
	outline: none
	display: flex
	vertical-align: middle
	height: 100%
	width: $menu-input-height
	padding: 8px
	border: none
	cursor: pointer
	background: $menu-input-btn-bg
	color: $menu-input-btn-color
	svg
		width: 100%
		height: 100%
		display: block
		path
			fill: $menu-input-btn-color
	&:hover
		background: darken($menu-input-btn-bg, 5%)
	&:active
		background: darken($menu-input-btn-bg, 8%)


.navigation__user
	display: flex
	align-items: center

.navigation-user-item
	$size: 26px
	+margin-right(15px)
	position: relative
	width:  $size
	height: $size
	cursor: pointer
	+transition(0.08s)
	svg
		width: 100%
		height: 100%
		display: block
	path
		fill: $menu-user-color
	&:hover
		transform: $menu-user-color-hover-size
		path
			fill: $menu-user-color-hover

.navigation-user-item__count
	$size: 16px
	position: absolute
	font-size: 9px
	display: flex
	color: $menu-user-count-color
	align-items: center
	justify-content: center
	width:  $size
	height: $size
	+border-radius(50%)
	background: $menu-user-count-bg
	border: $menu-user-count-border
	top: -5px
	right: -5px

	
.navigation-sub-menu-arrow
	$size: 7px
	position: absolute
	width: $size
	height: $size
	left: 50%
	bottom: $menu-arrow-offset
	transform: translateX( -$size/2 )
	svg
		display: block
		width: 100%
		height: 100%
		transform: scale( 1.4, 1 )
		path
			fill: $menu-text-color

.navigation-sub-menu
	transform: scale(0,0)
	top: $menu-height
	position: absolute
	display: flex
	background: $sub-menu-bg
	opacity: 0
	transition: opacity 0.1s linear



.navigation-sub-menu-list-wrap
	padding: 15px


.navigation-sub-menu-list-link__a
	color: $sub-menu-text-color
	font-size: $sub-menu-font-size
	white-space: nowrap
	//font-weight: lighter
	&:hover
		color: $sub-menu-text-color-hover
	&:before
		content: $sub-menu-pre-text
		display: inline-block
		padding-right: 4px
		color: $sub-menu-pre-text-color

.navigation-sub-menu-list-link
	display: flex
	&:not(:last-of-type)
		margin-bottom: 3px


.navigation-sub-menu-list__header
	color: $sub-menu-header-font-color
	font-weight: bold
	font-size: $sub-menu-header-font-size
	margin-bottom: 5px
	text-align: center
	white-space: nowrap



.navigation-sub-menu-list__links
	margin: 0
	padding: 0
	list-style-position: inside
	list-style-type: none
	display: inline