extends ../layouts/layouts.jade
block content

  include ../blocks/header.jade

  include ../blocks/main-slider.jade

  .item-container-wrap
    h1.item-text-big  Топ продаж
    .item-container
      include ../blocks/item.jade
      include ../blocks/item.jade
      include ../blocks/item.jade
      include ../blocks/item.jade
      include ../blocks/item.jade
      include ../blocks/item.jade
      include ../blocks/item.jade
      include ../blocks/item.jade