.main-slider
  .main-slider-content
    .main-slider-big-text Футболки на заказ
    .main-slider-small-text [ bistro ] . [ chetko ] . [ zaebis' ]
    .main-slider-btns
      .main-slider-btns_btn.main-slider-btn-1 Выбрать футболку
      .main-slider-btns_btn.main-slider-btn-2.flipped  Создать