ul.navigation__menu
   li.navigation__item: a(href="#", class="navigation-item-link") Главная
   li.navigation__item
      a(href="#", class="navigation-item-link") Каталог футболок
      .navigation-sub-menu-arrow <svg viewBox="14 3 20 11"><path  d="M32.3,3.3L24,11.6l-8.3-8.3c-0.4-0.4-1-0.4-1.4,0c-0.4,0.4-0.4,1,0,1.4l9,9l0,0l0,0 	c0.4,0.4,1,0.4,1.4,0l9-9c0.4-0.4,0.4-1,0-1.4C33.3,2.9,32.7,2.9,32.3,3.3z"/></svg>
      .navigation-sub-menu
         .navigation-sub-menu-list-wrap
            .navigation-sub-menu__list
               .navigation-sub-menu-list__header Мужские
               ul.navigation-sub-menu-list__links
                  li.navigation-sub-menu-list-link: a(href="#", class="navigation-sub-menu-list-link__a") Футболки
                  li.navigation-sub-menu-list-link: a(href="#", class="navigation-sub-menu-list-link__a") Толстовки
                  li.navigation-sub-menu-list-link: a(href="#", class="navigation-sub-menu-list-link__a") Майки
                  li.navigation-sub-menu-list-link: a(href="#", class="navigation-sub-menu-list-link__a") Свитшоты
                  li.navigation-sub-menu-list-link: a(href="#", class="navigation-sub-menu-list-link__a") Трусы
         .navigation-sub-menu-list-wrap
            .navigation-sub-menu__list
               .navigation-sub-menu-list__header Женские
               ul.navigation-sub-menu-list__links
                  li.navigation-sub-menu-list-link: a(href="#", class="navigation-sub-menu-list-link__a") Футболки
                  li.navigation-sub-menu-list-link: a(href="#", class="navigation-sub-menu-list-link__a") Толстовки
                  li.navigation-sub-menu-list-link: a(href="#", class="navigation-sub-menu-list-link__a") Майки
         .navigation-sub-menu-list-wrap
            .navigation-sub-menu__list
               .navigation-sub-menu-list__header Детские
               ul.navigation-sub-menu-list__links
                  li.navigation-sub-menu-list-link: a(href="#", class="navigation-sub-menu-list-link__a") Футболки


   li.navigation__item: a(href="#", class="navigation-item-link") Создать футболку
   li.navigation__item: a(href="#", class="navigation-item-link") Акции
   li.navigation__item: a(href="#", class="navigation-item-link") Фотографии
   li.navigation__item
      a(href="#", class="navigation-item-link") Информация
      .navigation-sub-menu-arrow <svg viewBox="14 3 20 11"><path  d="M32.3,3.3L24,11.6l-8.3-8.3c-0.4-0.4-1-0.4-1.4,0c-0.4,0.4-0.4,1,0,1.4l9,9l0,0l0,0 	c0.4,0.4,1,0.4,1.4,0l9-9c0.4-0.4,0.4-1,0-1.4C33.3,2.9,32.7,2.9,32.3,3.3z"/></svg>
      .navigation-sub-menu
         .navigation-sub-menu-list-wrap
            .navigation-sub-menu__list
               ul.navigation-sub-menu-list__links
                  li.navigation-sub-menu-list-link: a(href="#", class="navigation-sub-menu-list-link__a") Оплата и доставка
                  li.navigation-sub-menu-list-link: a(href="#", class="navigation-sub-menu-list-link__a") Технология
                  li.navigation-sub-menu-list-link: a(href="#", class="navigation-sub-menu-list-link__a") Качество
                  li.navigation-sub-menu-list-link: a(href="#", class="navigation-sub-menu-list-link__a") О компании


   li.navigation__item: a(href="#", class="navigation-item-link") Контакты