.popup-wrap(data-active="true")
   .popup
      .popup__close
      .popup__image
         .popup-image-control
            .popup-image-control__item(data-active="true")
            .popup-image-control__item
      .popup__setting

         .popup-setting-block
            .popup-setting-block__big-text Футболка мужская:
            .popup-setting-block__small-text «Очень крутое название очень крутой футболки»

         .popup-setting-block
            .popup-setting-block__big-text Размер:
            a.popup-setting-block__link.main-link.main-link__small(href="#") Таблица размеров
            .popup-setting-block__sizes
               .popup-setting-block-size XS
               .popup-setting-block-size(data-active="true") S
               .popup-setting-block-size M
               .popup-setting-block-size L
               .popup-setting-block-size XL
               .popup-setting-block-size XXL
               .popup-setting-block-size XXXL


         .popup-setting-block
            .popup-setting-block__big-text Качество ткани:
            a.popup-setting-block__link.main-link.main-link__small(href="#") Разница в качестве
            .popup-setting-block__qalitys
               .popup-setting-block-qality Промо
               .popup-setting-block-qality(data-active="true") Хрошее
               .popup-setting-block-qality Отличное


         .popup-setting-block
            .popup-setting-block__big-text Количество:
            .popup-setting-block__form
               .popup-setting-block-form__control -
               input.popup-setting-block-form__input(value="1")
               .popup-setting-block-form__control +

         .popup-setting-block
            .popup-setting-block-btn-group
               .popup-setting-block-btn-wrap
                  .popup-setting-block-btn__main Добавить в корзину
                  .popup-setting-block-btn__text 750р.