$main-color-1: #ff2a00
$main-color-2: #ff740c

$main-color-1: #17a8f3
$main-color-2: #c320ff



/////////////////////LOADER/////////////////////
$loader-color: #5d5d5d

/////////////////////LOGO/////////////////////
$logo-color-1: $main-color-1
$logo-color-2: $main-color-2
$logo-color-3: #fff




/////////////////////TOP-HEADER/////////////////////
$header-height-pading: 5px
$header-bg: #343434
$header-text-color: #a2a2a2
$header-text-hover-color: lighten(#a2a2a2,18%)





/////////////////////MENU/////////////////////
$menu-bg: #fff
$menu-height: 75px
$menu-font-size: 16px
$menu-text-color: #525252
$menu-text-color-hover: $main-color-2
$sub-menu-bg: rgba(#fff,0.9)
$sub-menu-font-size: 14px
$sub-menu-text-color: $menu-text-color
$sub-menu-text-color-hover: darken($menu-text-color, 20%)
$sub-menu-header-font-size: 16px
$sub-menu-header-font-color: $main-color-2
$sub-menu-pre-text: '-'
$sub-menu-pre-text-color: $menu-text-color
$menu-arrow-offset: calc(50% - 25px)

$menu-input-height: 35px
$menu-input-font-size: 13px
$menu-input-bg: #e4e4e4
$menu-input-bg-hover: #f3f3f3
$menu-input-color: $menu-text-color
$menu-input-placeholder-color: lighten($menu-text-color,15%)
$menu-input-btn-bg: $main-color-2
$menu-input-btn-color: #fff

$menu-user-color: $menu-text-color
$menu-user-color-hover: lighten($menu-text-color, 5%)
$menu-user-color-hover-size: scale(1.1,1.1)
$menu-user-count-color: #fff
$menu-user-count-bg: $main-color-2
$menu-user-count-border: 1px solid #fff



/////////////////////MAIN IMAGE/////////////////////
$slider-height: 560px
$slider-padding: 100px





/////////////////////ITEMS/////////////////////
$male-color: #54b1e6
$female-color: #ff638e

$item-star-color: #fd951a

$item-container-bg:  url(http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/rip_jobs.png)

$item-bg: #fff
$item-small-text-color: #696969
$item-shadow: none
$item-border-color: #d1d1d1
$item-border-color-hover: darken($item-border-color,5%)
$item-border-width: 0px
$item-footer-text-color: #696969
$item-footer-text-color-hover: darken($item-footer-text-color,10%)
$item-price-color: $item-footer-text-color